/* Form.css */

/* Styles for the form container */
.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: fade-in 0.5s ease;
}

/* Styles for the heading inside the form container */
.form-container h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

/* Styles for the form element inside the form container */
.form-container form {
  display: flex;
  flex-direction: column;
}

/* Styles for the labels inside the form container */
.form-container label {
  margin-bottom: 10px;
  color: #555;
}

/* Styles for the input fields, select input, and textarea inside the form container */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container input[type="date"],
.form-container select {
  padding: 10px;
  border: none;
  background-color: #f8f8f8;
  border-radius: 4px;
  box-shadow: inset 3px 3px 6px #e0e0e0, inset -3px -3px 6px #ffffff;
  width: 100%;
  box-sizing: border-box;
}

/* Styles for the gender select input inside the form container */
.form-container .gender-select {
  width: 100%; /* Set the width to 100% for the gender select input */
}

/* Styles for the submit button inside the form container */
.form-container button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: blue;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 3px 3px 6px #b3b3b3, -3px -3px 6px #ffffff;
  transition: background-color 0.3s ease;
}

/* Hover state styles for the submit button */
.form-container button:hover {
  background-color: #45a049;
}

/* Styles for displaying errors */
.form-container .errors {
  color: #ff0000 !important;
  margin-bottom: 10px;
  font-size: 14px;
}

/* Styles for the edit actions (Save and Cancel buttons) */
.edit-actions {
  display: flex;
  gap: 10px;
}

/* Styles for the Save button */
.save-button {
  padding: 8px 16px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Styles for the Cancel button */
.cancel-button {
  padding: 8px 16px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}
